*{
    margin:0;
}

nav{
    background-color: #252525;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img{
    height: 50px;
    width: 40px;
}

nav input{
    height: fit-content;
    width: fit-content;
}